---
import BaseHead from '../../../components/layout/Metadata.astro';
import Footer from '../../../components/layout/Footer.astro';
import Header from '../../../components/layout/TopHeader.astro';
import TextureFilter from '../../../components/TextureFilter.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../../consts';
import { getCollection } from 'astro:content';
import Layout from '../../../layouts/Layout.astro';

const projects = (await getCollection('projects'));

console.log(projects)
---
<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<main>
		<section >
			<ul class="project__grid">
				{
					projects.map((project) => (
						<li>
							<a href={`${project.slug}`}>
								<TextureFilter src={project.data.heroImage} transition=`projects-${project.data.title}` />
							</a>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</Layout>

<style>
	.project__grid {
		display: grid;
		grid-template-columns: repeat(3, 33%);
	}
</style>