---
import { getCollection } from 'astro:content';
import { DEFAULT_PROJECTS } from '../../consts'

import { getLangFromUrl, useTranslations } from '../../i18n/utils';

import Project from './Project.astro';
import { getRelativeLocaleUrl } from 'astro:i18n';

const lang = getLangFromUrl(Astro.url);

const projects = (await getCollection('projects', ({ id }) => { return id.startsWith(lang) })).slice(0, 3);
const project_rest = 3 - projects.length;
---
<section class="project">
    <h3 class="project__title">
        Projects
    </h3>
    <div class="project__content">
        <div class="project__content__container">
            {
                projects.map(project => (
                    <Project image={project.data.heroImage}  title={project.data.title} slug={project.data.link} />
                ))
            }
            {
                DEFAULT_PROJECTS.slice(0, project_rest).map((project_rest, index) => (
                    <Project image={project_rest.heroImage}  title={project_rest.title} slug={null} />
                ))
            }
        </div>
    </div>
</section>

<style>
    .project__content {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }
    
    .project__title {
        margin-bottom: 0rem;
        width: 100%;
        color: var(--contrast-text);
        background-color: var(--primary-color);
        text-align: center;
        font-size: 1rem;
        padding: 0.5rem 0rem;
    }

    .project__content__container {
        width: 100%;
        display: flex;
        width: 280%;
        justify-items: stretch;
        align-items: stretch;
        
        height: 25rem;
    }

    .project__content::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    

    @media only screen and (min-width: 480px) {
        .project__title {
            font-size: 1.5rem;
        }
    }

    @media only screen and (min-width: 768px) {
        .project__content {
            -webkit-overflow-scrolling: touch;
            overflow: auto;
        }
        

        .project__title {
            font-size: 1.5rem;
            padding: 1rem 0rem;
        }
        
        .project__content__container {
            display: grid;
            width: calc(100%);
            grid-template-columns: 50% 50%;
            grid-template-rows: 53% 40% 0%;
            gap: 0rem;
            justify-items: stretch;
            align-items: stretch;
            height: 35rem;
        }
    }
</style>