---
import { getCollection } from 'astro:content';
import { DEFAULT_PROJECTS } from '../../consts'

import { getLangFromUrl, useTranslations } from '../../i18n/utils';

import Project from '../Project.astro';
import { getRelativeLocaleUrl } from 'astro:i18n';

const lang = getLangFromUrl(Astro.url);

const projects = (await getCollection('projects', ({ id }) => { return id.startsWith(lang) })).slice(0, 3);
const project_rest = 3 - projects.length;
---
<section class="proyects">
    <h3 class="proyects__title">
        Projects
    </h3>
    <div class="proyects__content">
        {
            projects.map(project => (
                <Project image={project.data.heroImage}  title={project.data.title} slug={getRelativeLocaleUrl(lang, `/projects/${project.slug.split('/')[1]}`)} />
            ))
        }
        {
            DEFAULT_PROJECTS.slice(0, project_rest).map((project_rest, index) => (
                <Project image={project_rest.heroImage}  title={project_rest.title} slug={null} />
            ))
        }
        <a class="large__button" href={getRelativeLocaleUrl(lang, "/projects")}>View More</a>
    </div>
</section>

<style>
    .proyects__title {
        margin-bottom: 0rem;
        width: 100%;
        color: var(--contrast-text);
        background-color: var(--primary-color);
        text-align: center;
        font-size: 1rem;
        padding: 0.5rem 0rem;
    }

    .proyects__content {
        width: 100%;
        
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 40% 35% 25%;
        gap: 0.5rem;
        justify-items: stretch;
        align-items: stretch;
        
        height: 60rem;
    }

    .large__button--glow {
        box-shadow: 0 0 20px var(--glow-color);
        width: 14rem;
        transition: opacity 0.25s ease-out;
        opacity: 0;
    }
    


    @media only screen and (min-width: 480px) {
        .proyects__title {
            font-size: 1.5rem;
        }
    }

    @media only screen and (min-width: 768px) {
        .proyects__title {
            font-size: 1.5rem;
            padding: 1rem 0rem;
        }
        
        .proyects__content {
            width: calc(100% - 0.15rem);
            grid-template-columns: 50% 50%;
            grid-template-rows: 45% 40% 5%;
            gap: 0.2rem;
            justify-items: stretch;
            align-items: stretch;
            height: 35rem;
        }
    }
</style>