---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/layout/Metadata.astro';
import Footer from '../components/layout/Footer.astro';
import TopHeader from '../components/layout/TopHeader.astro';
import NewspaperHeader from '../components/newspaper/NewspaperHeader.astro';
import NewsPaper from '../components/newspaper/NewsPaper.astro';
import { getLangFromUrl } from '../i18n/utils';
import "../styles/newspaper.css"
type Props = CollectionEntry<'projects'>['data'];

const { 
	title, 
	description, 
	pubDate, 
	heroImage,
} = Astro.props;

const lang = getLangFromUrl(Astro.url);

---

<html lang={ lang }>
	<head>
		<BaseHead title={title} description={description} image={heroImage}/>
		
	</head>

	<body>
		<TopHeader title="ARIMA" date="2024" subtitle="software engineering"/>
		<NewspaperHeader title={title} image={heroImage} description={description} />

		<NewsPaper>
			<slot />
		</NewsPaper>

		<Footer />
	</body>
</html>

